

# At least one of the following two optimizers:
# (Don't forget to set the selected optimizer in `sentiment_model_configuration.py`)


# for QP optimizer (usually faster than the cvx for our proposes)
pip install qpsolvers  # run from the anaconda directory
conda install -c oxfordcontrol osqp

# for CVX optimizer
conda install -c conda-forge lapack
conda install -c cvxgrp cvxpy
